{
    "data": "<DATA>",
    "compress": "out/compress/<NAME>_cached-normal-equation.bin",
    "decompress": "out/decompress/<NAME>_cached-normal-equation.csv",
    "interval": <INTERVAL>,
    "algorithm": {
        "name": "cached-normal-equation",
        "error": <ERROR>,
        "mode": <MODE>,
        "degree": <MAX_DEGREE>
    }
}