{
    "data": "<DATA>",
    "compress": "out/compress/<NAME>_chimp.bin",
    "decompress": "out/decompress/<NAME>_chimp.csv",
    "interval": <INTERVAL>,
    "algorithm": {
        "name": "chimp",
        "size": <BUFFER_SIZE>,
        "mode": "basic"
    }
}