{
    "data": "<DATA>",
    "compress": "out/compress/<NAME>_gorilla.bin",
    "decompress": "out/decompress/<NAME>_gorilla.csv",
    "interval": <INTERVAL>,
    "algorithm": {
        "name": "gorilla",
        "size": <BUFFER_SIZE>
    }
}